<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
	<title>Rosco Ware</title>
</head>
<body>
	<div class = "container">
		<div class="header">
		<img alt="dog-models" src="/images/rosco-ware-models.jpg">
   </div>
   <div class="main-content">
    <h1>Shopping Categories</h1>
    <div id="categories-container">
     <div class= "category-container">
       <nav class = "nav-list">
        <ul>
        	<li><a href="#apparel">Apparel</a>
            <li><a href="#treats">Treats</a>
            <li><a href="#toys">Toys</a>
            <li><a href="#collars-leashes">Collars & Leashes</a>
        </ul>
            </li>
           </nav>
         </div>
       </div>
     </div>
     <div class="footer">
     <img src="./images/paw-logo.jpg" width="30" height="30">
      <img class="copyright">Copyright 2018 Rosco Ware</img>
     </div>
   </body>
   </html>