.categories-container{
  display: grid;
  grid-template-columns: 1 fr 2 fr;
  grid-template-rows: auto auto;
  
  
}

.category-container{
  display: grid;
  grid-template-columns: 1 fr 2 fr;
  grid-template-rows: auto auto;
}
.cofoundercontainer{
	display: grid;
	grid-template-columns: 1 fr 2 fr;
  	grid-template-rows: auto auto;
}
.cofoundercontainer p{
	grid-column: 2/3;
	grid-row: 2/3;
	font-size: large;
	
}
.cofoundercontainer img{
	grid-column: 1/2;
	grid-row: 2/3;
	
}


.cofoundercontainer h1{
	display:flex;
	justify-content: center;
	align-content: center;
	grid-column: 1/3;
	grid-row: 1/2;
	
}


.product-container{
  display: grid;
  grid-template-columns: 1 fr 2 fr;
  grid-template-rows: auto auto;
}
.container{
  display: grid; 
  grid-template-row: auto, auto, auto;
}
.header{
  display:grid;
  grid-template-row: auto, auto, auto;
}
.main-content{
  display: grid;
  grid-template-row: 3fr 1fr;
}
.main-category-container{
  display:grid;
  grid-template-rows: 150px auto 100px;
}
.main-view-container{
  display:grid;
  grid-template-columns: 3fr 1fr;
}